ul{
    list-style-type: none;
}

.popup{        
    color: #000;
    background-color: #bfbfbf;
    /*visibility: hidden;*/
}

.popup-header{
    width: 100%;
    height: 20px;
    background-color: #ddd;
}

.popup-form{
    padding: 20px;
}

.scrollable-div{
    height: 417px;
    overflow-y: auto;
}

.send-order{
    padding: 20px;
}

.card-view{

    margin: 3px;
    padding: 12px;
    background-color: #818e98;
}

.card-row{

    width:100%;

}

.sent-dialog{
    padding: 50px;
    position: absolute;
    top: 20%;
    left: 43%;
    background-color: #5b6875;
    text-align: center;
    visibility: hidden;
}